.sideBarContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  min-width: 7rem;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  padding: 2rem;
}
@media (max-width: 60rem) {
  .sideBarContainer {
    right: 0;
    bottom: initial;

    flex-direction: row;

    width: 100%;
    height: initial;

    z-index: 99;
  }
}

.sideBarContainer nav {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 60rem) {
  .sideBarContainer nav {
    flex-direction: row;
  }
}

.sideBarContainer nav a {
  position: relative;
}

.sideBarContainer nav a.active::before {
  content: "";
  width: 4px;
  height: 56px;
  background: var(--blue);
  border-radius: 0px 5px 5px 0px;

  display: block;

  position: absolute;
  left: calc(-2rem - 8px);
  top: 50%;

  transform: translateY(-50%);
}
@media (max-width: 60rem) {
  .sideBarContainer nav a.active::before {
    width: 56px;
    height: 4px;
    border-radius: 0px 0px 5px 5px;

    left: 50%;
    top: calc(-2rem - 4px);

    transform: translateX(-50%);
  }
}

.sideBarContainer nav a:not(:first-child) {
  margin-top: 2rem;
}
@media (max-width: 60rem) {
  .sideBarContainer nav a:not(:first-child) {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.sideBarContainer nav a img {
  filter: grayscale(100%) invert(1);
}

.sideBarContainer nav a.active img {
  filter: grayscale(0%);
}
